# ------------------------------------------------------------------09-10-2025----------------------------------------
# MQTT Broker
BROKER_URL='broker url' # datatype: ip ex: 10.10.60.200
BROKER_PORT='port used by the broker' # datatype: int ex: 8888
KEEPALIVE='how long to keep the connection alive' # datatype: int

# Paths
# VERSION_FILE=/app/db/data.json

# App
# AVAILABLE_PORTS=[8005, 8006]
# CONTAINER_NAME=robot_client
SERIAL_NUMBER='robot serial number' # datatype: hex 16 characters long

BOOTSTRAP_TOPIC = "bootstrap topic"
MODEL_MAKE = "robot make and model" # datatype: str format: make model ex: Scout TD0
YEAR = "year of manufacturing as per iris" # datatype: str

# mTLS Certificate Paths
MQTT_ROOT_CA='root ca path'          # For verification
MQTT_INTERMEDIATE_CA='path to intermediate ca cert'  # To send in handshake
MQTT_CLIENT_CERT='path to client cert (robot cert)'     # Client certificate
MQTT_CLIENT_KEY='path to client key (robot key)'      # Client private key
MQTT_TLS_ENABLED='tls enabled or not' # datatype: bool format: false, true
PKI_API_KEY=backend-secret-key
PKI_ROOT_CA=/app/certs/rootCA.crt.pem
ROBOT_ID='robot serial'
CERT_RENEWAL_THRESHOLD=300                           # sec
CERT_CHECK_INTERVAL=20                              # sec

FIRMWARE_ENV_MAP='firmware env map path'
TARGET_ENV_FILE_PATH='target .env path'
CURL_TRIGGER_API='api url for restarting docker containers' 
SECONDARY_COMPUTE_REGISTRY='secondary compute registry ip with port' # format ip:port ex: 10.10.60.250:5000
SRC_TLS_VERIFY='skopeo tls verify for src' # datatype: bool format: false, true
DEST_TLS_VERIFY='skopeo tls verify for dest' # datatype: bool format: false, true
HTTP_TIMEOUT_CONFIG='http request timeout in seconds' # datatype: double format: 300.00
MAIN_COMPUTE_FIRMWARES_VAR="variable name used in firmware_env_map.json"
MAIN_COMPUTE_BASE_URL='base url of main compute'

JWT_PRIVATE_KEY_PATH="path to private key"
JWT_ISSUER="issuer name"
JWT_EXPIRATION='expiration time in seconds'

CERTS_PATH='path of where the certificates are' 
MAPPER_DIR='path to where the mapping files'
OTA_MANIFEST_DIR='path to where to store manifests'
PRIVATE_KEY_DIR='path to where the private key is'
