# configure this env before using the application

FIRMWARE_ENV_MAP='env firmware json mapping path'
TARGET_ENV_FILE_PATH='target env file path'
COMPOSE_FILE_PATH='target compose file path'
SLEEP_BETWEEN_RESTART='time in seconds'
JWT_PUBLIC_KEY_PATH='path to public key'
JWT_ISSUER='issuer name'
MAPPER_DIR='path to mapping with firmware_map.json etc'
KEY_DIR='path to dir with the public key'